.top-bar-container {
  width: 100%;
  height: 12vh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: xxx-large;
  margin-bottom: 0;
  margin-top: 0;
}

.sub-logo {
  margin: 0;
  font-style: italic;
}

.fixed-container {
  background-color: var(--backgroundColor);
  width: 100%;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  padding: 0 1rem;
  z-index: 999;
}
