.container {
  max-width: 800px;
  margin: 0 auto;
}

.film-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.film-card h2 {
  margin-top: 0;
}

.film-card img {
  width: 20px; /* Dostosuj szerokość ikonki gatunku */
}

.film-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.film-card button:hover {
  background-color: #0056b3;
}
