<div class="dialog-container">
  <h2 mat-dialog-title>Dodaj ocenę dla filmu {{data.title}}</h2>
  <mat-dialog-content>
      <span *ngFor="let _ of [1,2,3,4,5,6,7,8,9,10]; let i = index">
         <span class="material-icons star" (click)="addRating(i + 1)">star_rate</span>
      </span>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="saveRating()" color="primary" mat-dialog-close mat-raised-button>Zapisz</button>
    <button color="warn" mat-dialog-close mat-raised-button>Anuluj</button>
  </mat-dialog-actions>
</div>

